.App {
  padding: 10rem;
  margin: 0 auto;
  max-width: 80%;
}

h1 {
  font-size: 6rem;
}

.account {
  width: 40%;
  border-top: 1px solid black;
  margin-top: 2rem;  
  padding-top: 1rem;
}

.welcome {
  margin-bottom: 1.5rem;
}